.p-container{
    width: 200px;
    height: 100px;
    border: 1px solid green;
}

.main-con{
    display: flex;
    flex-wrap: wrap;
    gap: 101px;
}

.overlay{
    background-color: #06060685;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-con{
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    width: 50vw;
    justify-content: center;
    align-items: center;
    background: white;
    display: flex;
    padding: 11px;
    flex-direction: column;
    height: 400px;
    border-radius: 15px;
}

img{
    width: 150px;
    height: 105px;
}